/* div {
            border: 0.5px solid red;
        } */
        .text-small{
            font-size: 9.7px;
        }
        .text-exsm{
            font-size: 11px;
        }
        .btnInNav {
            background-color: #1A80E0;
        }

        #firBoxOfSec {
            border-bottom: 0.5px solid rgb(236, 230, 230);
        }

        #secBoxOfSec {
            border-bottom: 0.5px solid rgb(236, 230, 230);
        }

        .subscribe_box {
            background: linear-gradient(to right, #1A80E0, #029DDE);
        }
        .colGrayBlue{
            background-color: #F2F8FF;
        }
        .partnersBox{
            background-image: url('./images/partnersBox_backImg.svg'),url('./images/partnersBox_backImg_Right.svg');
            background-position:0%,100%;
            background-repeat: no-repeat;
            background-size: contain;
        }