<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Investments | smallcase - invest in ideas</title>
    <link rel="icon" href="images/smallcase icone.png">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="w-10/12 rounded-md bg-gray-100 h-auto  m-auto mt-10 grid grid-cols-2 sm:flex space-x-14 py-5 ">
        <div class="p-1 ml-10">
            <p class="font-medium text-2xl">Your Investments</p>
            <p class="text-gray-600 text-sm ">Invest in smallcases to see overview here</p>
        </div>
        <div class="p-1">
            <p class="text-gray-600 text-base ">Current Value</p>
            <div class="flex ">
            <p>__</p>
            </div>
        </div>
        <div class="p-1">
            <p class="text-gray-600 text-base ">Current Investment</p>
            <p>__</p>
        </div>
        <div class="p-1">
            <p class="text-gray-600 text-base ">Current Returns</p>
            <p>__</p>
        </div>
        <div class="p-1">
            <p class="text-gray-600 text-base ">Total Returns</p>
            <p>__</p>
        </div>
    </div>
    <div class="w-10/12  m-auto h-auto p-5 flex">
        <div class="w-9/12">
            <div class="flex  h-auto  space-x-10">
                <button class="hover:text-blue-400">Portfolio</button>
                <button class="hover:text-blue-400">Lnsights</button>
                <button class="hover:text-blue-400">Activity</button>
            </div>
            <div></div>
        </div>
        <div class="w-3/12 space-y-5 ">
            <p class="font-medium">What's next for you</p>
            <div class="w-full h-auto flex p-2 border-2 rounded-md hover:-translate-y-0.5 transform">
                <div class="w-1/4">
                    <img class="h-full w-full" src="images/howToBuild.png"> 
                </div>
                <div class=" w-3/4 p-1">
                    <p>Learn how to build a healthy portfolio</p>
                    <p class="text-blue-400">See What That Means </p>
                </div>
            </div> 
                <div class="w-full h-auto flex p-2 border-2 rounded-md hover:-translate-y-0.5 transform">
                    <div class="w-1/4">
                        <img class="h-full w-full" src="images/find_your.svg"> 
                    </div>
                    <div class="w-3/4 p-1">
                        <p>Find your next idea in minutes</p>
                        <p class="text-blue-400">Find Your smallcase </p>
                    </div>
             </div> 
                 <div class="w-full h-auto flex p-2 border-2 rounded-md hover:-translate-y-0.5 transform">
                     <div class="w-1/4">
                         <img class="h-full w-full" src="images/create&invest.svg"> 
                     </div>
                     <div class="w-3/4 p-1">
                         <p>Create & Invest in your own idea</p>
                         <p class="text-blue-400">Create smallcase</p>
                     </div>
                 </div> 
            </div> 
    </div>
</body>
</html>
<script src="js/investments.js">

</script>