<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Result</title>
    <link rel="stylesheet" href="css/style.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.24.0/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>

    <style>
        #bottom_hr{
            border-top: 1px dashed gray;
            margin-top: 20px;
        }
    </style>
</head>
<body>
    
    <div class="mx-20">

        <div class="mt-8 flex justify-between p-8 bg-gray-50 rounded">
            <div class="flex">
                <div class="w-20 mr-6">
                    <img class="w-full h-20 rounded" id="onlyImg">
                </div>
                <div>
                    <p class="mt-2">
                        <span id="title" class="text-2xl font-bold"></span>
                        <span class="ml-2 bg-blue-50 text-xs text-blue-700 px-1">Free Access</span>
                    </p>
                    <p id="description" class="mt-2 text-base"></p>

                </div>
            </div>

            <div class="w-3/12 p-4">
                <p class="text-sm text-gray-500">3Y CAGR</p>
                <div class="flex justify-between">
                    <div id="cagr" class="text-xl text-green-600"></div>
                    <div class="border border-gray-300 rounded px-2 flex">
                        <div class="w-6 h-6 mr-1">
                            <img src="images/risk_mid.jpg">
                        </div>
                        <div class="text-gray-600">
                            Med. volatility
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- second part of the body which contain remaining data of the page -->

        <div class="p-8 w-3/4">
            <div class="mb-3">
                <span class="mr-8 text-blue-600">Overview</span><span class="text-gray-600">ETFs & Weights</span>
            </div>
            <hr>

            <!-- detail of top 100 smallcase start -->

            <p class="mt-6 text-lg font-semibold text-gray-900">Why should you invest in this smallcase?</p>

            <div class="mt-4 flex">
                <div class="w-3/5 pr-3">
                    <p class="text-gray-800">smallcase invests in top 100 marketcap companies using Nippon India ETF Nifty Bees for top 50 companies and Nippon India ETF Junior Bees for 51-100 marketcap companies</p>

                    <ul class="list-disc ml-10 mr-4 mt-4 text-sm text-gray-800">
                        <li><span>Large cap companies are usually well established and the chances of </span><span id="light">such companies going bust are low</span></li>
                        <li id="more">Adding such stocks to the portfolio increases stability of the portfolio as their stock prices are not very volatile. They are also best suited for long term wealth creation</li>
                    </ul>
                    <button onclick="readMore()" id="readMore_btn" class="text-blue-600">Read more</button>
                </div>

                <div class="w-2/5 pl-6 border-l-2 border-gray-100">
                    <div>
                        <p class="text-blue-500 text-sm font-semibold">Methodology</p>
                        <p class="text-gray-500 text-sm">Know how this smallcase was created</p>
                    </div>
                    <div class="mt-3">
                        <p class="text-blue-500 text-sm font-semibold">Factsheet</p>
                        <p class="text-gray-500 text-sm">Download key points about this smallcase</p>
                    </div>
                    <div class= "text-sm text-gray-600 mt-3">Creaeted by Windmill Capital</div>
                </div>
            </div>

            <!-- minimum investment amount box starts here -->

            <div class="absolute top-60 right-24 w-1/5">
                <p class="text-sm text-gray-500">Minimun Investment Amount</p>
                <div class="flex">
                    <div id="min_amount" class="text-xl text-gray-800 mt-1 font-medium"></div>
                    <div class="text-gray-500 mt-3">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd" d="M4 2a1 1 0 011 1v2.101a7.002 7.002 0 0111.601 2.566 1 1 0 11-1.885.666A5.002 5.002 0 005.999 7H9a1 1 0 010 2H4a1 1 0 01-1-1V3a1 1 0 011-1zm.008 9.057a1 1 0 011.276.61A5.002 5.002 0 0014.001 13H11a1 1 0 110-2h5a1 1 0 011 1v5a1 1 0 11-2 0v-2.101a7.002 7.002 0 01-11.601-2.566 1 1 0 01.61-1.276z" clip-rule="evenodd" />
                        </svg>
                    </div>
                </div>
                <p class="text-sm text-gray-600 mt-6">Get access for free forever</p>
                <p class="font-medium text-sm text-blue-600 mt-1">See more benefits</p>
                <div class="mt-8">
                    <a onclick="proceedPayment()" class="cursor-pointer select-none rounded px-20 py-3 bg-green-400 font-medium text-white">Invest Now</a>
                </div>
                <div class="mt-10">
                    <a href="#" class="rounded text-blue-600 border border-green-200 font-medium px-16 py-3">Add to Watchlist</a>
                    <hr class="mt-10">
                    <!-- icon images start-->
                    <div class="flex mt-4">
                        <div class="text-sm text-gray-500">
                            Share on
                        </div>
                        <div class="w-4 h-4 ml-6">
                            <img src="https://img.icons8.com/material-rounded/24/000000/facebook.png"/>
                        </div>
                        <div class="w-4 h-4 ml-4">
                            <img src="https://img.icons8.com/material-rounded/24/000000/twitter-squared.png"/>
                        </div>
                        <div class="w-4 h-4 ml-4">
                            <img src="https://img.icons8.com/material-outlined/24/000000/whatsapp.png"/>
                        </div>
                    </div>
                    <!-- icon images end here -->
                </div>
            </div>

            <!-- minimum investment amount box ends here -->

            <!-- detail of top 10 smallcase end here -->

            <div id="pastPerformance" class="mt-16 mb-4">
                <span class="text-lg text-gray-800 font-semibold">Past Performance vs</span>
                <span class="text-lg text-blue-600 font-semibold">Equlity Large Cap</span>
            </div>
            <hr>

            <div id="before_graph" class="flex mt-4">
                <div class="flex-1 m-4 text-gray-600 text-sm font-semibold">
                    <sapn>Value of ₹ 100 invested once on</sapn>
                    <span> inception of this smallcase</span>
                    <span>would be</span>
                </div>
                <div class="flex-1 m-4">
                    <p class="text-blue-600 font-semibold">Top 100 stocks</p>
                    <div>
                        <p id="stockdata" class="text-gray-600"></p>
                    </div>
                    
                </div>
                <div class="flex-1 m-4">
                    <p class="text-yellow-600 font-semibold">Equity Large Cap</p>
                    <p class="text-gray-600">₹430.52</p>
                </div>

            </div>

            <!-- graph starts here -->

            <div id="graph" class="mt-2">
                <canvas id="myChart" style="width:100%"></canvas>
            </div>
            <hr id="bottom_hr">
            <!-- graph ends here -->
            <div id="note_in_last" class="flex mt-8">
                <div class="text-sm text-gray-500 font-medium mr-4 flex-grow-0">
                    Note: Past performance graph includes changes due to rebalance, events like stock splits & mergers. Also, past performance doesn't guarantee future returns
                </div>
                <div>
                    <button class="border border-blue-300 text-xs text-blue-600 font-medium flex-grow w-28 px-1 py-2 rounded">Download chart</button>
                </div>
            </div>

        </div>

    </div>


    <script src="js/search.js"></script>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script>
        // Razorpay configuration
        let currItem = JSON.parse(localStorage.getItem("data_clicked"));;
        let currItemObj = JSON.parse(currItem[0]);
        let price = currItemObj.stats.minInvestAmount * 100;

        async function proceedPayment(){
            // try{
            //     axios.post(`http://localhost:2000/razorpay/createorder`, 
            //     JSON.stringify(price),
            //     {
            //     headers:{
            //         'Content-Type' : 'text/plain' 
            //     }
            //     }
            //     ).then((info)=>{
        
                // var options = {
                // "key": "rzp_test_PgZQM6gNPhgqhv", 
                // "name": "Smallcase",
                // "description": "Proceed to invest",
                // "image": "https://is3-ssl.mzstatic.com/image/thumb/Purple125/v4/ee/6b/11/ee6b115c-516e-8aa8-155b-d7059325a22a/AppIcon-0-0-1x_U007emarketing-0-0-0-7-0-0-sRGB-0-0-0-GLES2_U002c0-512MB-85-220-0-0.png/1200x630wa.png",
                // "order_id": info.data.id,
                // "callback_url": "http://localhost:2000/razorpay/result",
                // "theme": {
                //     "color": "#3399cc"
                // }   
                // };

                // let rzp1 = new Razorpay(options);
                // rzp1.open();
                // });
            // }
            // catch(e){
            //     console.log(e.message);
            // }


            try{
                let data = await fetch("http://localhost:2000/razorpay/createorder",{
                    method:'POST',
                    body:JSON.stringify({price: price}),
                    headers:{
                        'Content-Type':"application/json"
                    }
                });

                let info = await data.json();

                var options = {
                "key": "rzp_test_PgZQM6gNPhgqhv", 
                "name": "Smallcase",
                "description": "Proceed to invest",
                "image": "https://is3-ssl.mzstatic.com/image/thumb/Purple125/v4/ee/6b/11/ee6b115c-516e-8aa8-155b-d7059325a22a/AppIcon-0-0-1x_U007emarketing-0-0-0-7-0-0-sRGB-0-0-0-GLES2_U002c0-512MB-85-220-0-0.png/1200x630wa.png",
                "order_id": info.id,
                "callback_url": "http://localhost:2000/razorpay/result",
                "theme": {
                    "color": "#3399cc"
                }   
                };


                let rzp1 = new Razorpay(options);
                rzp1.open();


            }
            catch(e){
                console.log(e.message);
            }
        }
    </script>
</body>
</html>