.mainbody {
    background-image: url("../images/modal_bg.3bc18861.svg");
}

.box_left_backgroundurl {
    background-image: url("../images/patternImg.0edf5760.svg");
}

.thinline {
    background-color: rgb(204, 202, 202);
    height: 2px;
}