<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog - Making smalltalk</title>
    <link rel="icon" href="images/siteLogo.png" sizes="32x32">
    <link rel="stylesheet" href="css/style.css">
    <style>
        /* div {
            border: 0.5px solid red;
        } */
        .text-small{
            font-size: 9.7px;
        }
        .text-exsm{
            font-size: 11px;
        }
        .btnInNav {
            background-color: #1A80E0;
        }

        #firBoxOfSec {
            border-bottom: 0.5px solid rgb(236, 230, 230);
        }

        #secBoxOfSec {
            border-bottom: 0.5px solid rgb(236, 230, 230);
        }

        .subscribe_box {
            background: linear-gradient(to right, #1A80E0, #029DDE);
        }
        .colGrayBlue{
            background-color: #F2F8FF;
        }
        .partnersBox{
            background-image: url('images/partnersBox_backImg.svg'),url('./images/partnersBox_backImg_Right.svg');
            background-position:0%,100%;
            background-repeat: no-repeat;
            background-size: contain;
        }
        input{
            width: 90%;
        }
        .btnSignup{
            width: 90%;
        }
        .inpSignup{
            width: 90%;
        }
        .backInSignup{
            background-image: url(images/signup_leftBack.png),url(./images/signup_rightBack.svg);
            background-repeat: no-repeat;
            background-position: 0%,100%;
            background-size: contain;
        }
        .inpSignup,.inpInLogin::placeholder{
            font-size: 10px;
        }
    </style>
    
</head>
<body>
    <div class="w-5/5 h-10 select-none">
        <div class="w-9/12 h-full m-auto flex justify-between">
            <div class="w-20 flex">
                <img src="images/logo.svg" class="m-1 hover" alt="Unable to load">
            </div>
            <div class="w-9/12 flex items-center px-3 flex justify-between">
                <h3 class="text-gray-600 hover:text-black font-normal cursor-pointer text-xs headingInNav text-small">
                    Investing Insights</h3>
                <h3 class="text-gray-600 hover:text-black font-normal cursor-pointer text-xs headingInNav text-small">
                    smallcase Rationale</h3>
                <h3 class="text-gray-600 hover:text-black font-normal cursor-pointer text-xs headingInNav text-small">
                    Inside smallcase</h3>
                <h3 class="text-gray-600 hover:text-black font-normal cursor-pointer text-xs headingInNav text-small pw_r_txtNav">
                    Postweek Reports</h3>
                <button class="h-4 cursor-pointer rounded text-white p-1 flex items-center btnInNav bg-blue-light"
                    id="btnInNav">
                    <h3 class="text-small font-normal">Subscribe</h3>
                </button>
                <div class="flex justify-center items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-5 text-gray-500" viewBox="0 0 20 20"
                        fill="currentColor">
                        <path fill-rule="evenodd"
                            d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                            clip-rule="evenodd" />
                    </svg>
                    <div>
                    <input type="text" placeholder="Search" class="w-10 text-xs m-1 text-small inpBox-nav p-1">
                    </div>
                </div>
                
            </div>
        </div>
        <hr>
        <div class="w-4/5 m-auto">
        <div class="h-48 displaySearchRes hidden  overflow-scroll bg-gray-100 text-small relative"></div>
        </div>
        
    </div>

    <!-- Login Box -->
    <div id="loginBox" class="bg-white z-10 hidden loginBox border border-gray-200 rounded shadow-lg w-3/12 my-5 left-96 top-20 sticky absolute top-1 select-none"></div>

    <!-- Signup Box -->

    <div id="signUpBox" class="bg-white z-10 hidden signupBox border border-gray-200 rounded shadow-lg w-3/12 my-5 left-96 top-20 sticky absolute top-1 select-none"></div>


    <div class="w-4/5 m-auto mainContentDiv select-none">
        <div class="w-5/5 m-auto my-2 flex">
            <div class="w-2/3 m-5" id="newsBox-one"></div>
            <div class="w-2/3 m-5 grid grid-cols-2 gap-3" id="newsBox-two">
                <div id="firBoxOfSec">

                </div>
                <div id="secBoxOfSec">

                </div>
            </div>



        </div>

        <div class="w-5/5 h-32 m-2 subscribe_box flex gap-1 rounded">
            <div class="w-3/5 m-5 text-white">
                <h1 class="font-bold">Subscribe to weekly finance, business and market updates</h1>
                <p class="font-normal">Investment insights, news & views delivered to your inbox</p>
            </div>
            <div class="w-4/5 flex items-center">
                <input type="text" placeholder="Email Address" class="text-gray-600 w-4/6 rounded p-0.5">
                <button class="p-2 bg-white mx-2 text-black p-1.5 px-4 text-xs rounded">Subscribe</button>
            </div>
        </div>

        <div class="my-16">
            <h1 class="font-bold text-sm">Recent Stories</h1>
            <div class="my-5 grid grid-cols-3 gap-5" id="second-box-news"></div>
            <button class="text-blue-600 border text-small font-semibold rounded border-blue-600 block m-auto py-1.5 px-14 hover:bg-blue-500 hover:text-white" id="btnSeeMoreNews">See more recent stories</button>
        </div>

        <div class="border border-gray-200 rounded">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-3 text-blue-600 w-3 inline" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="M19 9l-7 7-7-7" />
            </svg>
            <h1 class="inline text-sm font-bold m-3 collectionBoxOpener cursor-pointer">Collections</h1>
            <div class="collection_cards grid grid-cols-4 m-5 gap-3">
                <div class="border border-gray-300 rounded cursor-pointer firCard_collection">
                    <div class="p-1 pb-8 firCardDiv_collection">
                        <img class="w-2/6 rounded m-2" src="images/exchangeTradedFunds.png" alt="Unable To Load">
                        <h1 class="font-bold text-sm m-2">Exchange Traded Funds (ETFs)</h1>
                        <p class="text-gray-600 text-sm m-2">Exchange Traded Funds (ETFs)</p>
                    </div>
                    <div class="p-1 pb-8 bg-gray-50 altBox_firCard hidden">
                        <h1 class="font-bold text-exsm m-2 text-blue-600">Exchange Traded Funds (ETFs)</h1>
                        <hr class="bg-blue-600">
                        <p class="font-semibold text-exsm hover:text-blue-600 m-2">ETFs - Growth & Scope in India</p>
                        <hr>
                        <p class="text-exsm font-semibold m-2 hover:text-blue-600">3 Stock Market Crashes that changed Investing:Origins of MFs & ETFs</p>
                        <hr>
                        <p class="text-exsm font-semibold m-2 hover:text-blue-600">ETF Liquidity, Creation, and The Role of Authorised Participants</p>
                    </div>
                </div>
                <div class="pb-8 border border-gray-300 rounded cursor-pointer secCard_collection">
                    <div class="p-1 pb-8 secCardDiv_collection">
                        <h1 class="font-bold text-sm m-2">Exchange Traded Funds (ETFs)</h1>
                        <p class="text-gray-600 text-sm m-2">Exchange Traded Funds (ETFs)</p>
                    </div>
                    <div class="p-1 pb-8 bg-gray-50 hidden altBox_secCard">
                        <h1 class="font-bold text-exsm m-2 text-blue-600">Investing in Mutual Funds (MFs)</h1>
                        <hr class="bg-blue-600">
                    </div>
                </div>
                <div class="pb-8 border border-gray-300 rounded cursor-pointer thiCard_collection">
                    <div class="p-1 pb-8 thiCardDiv_collection">
                        <img class="w-2/6 rounded m-2" src="images/smallSteps.png" alt="Unable To Load">
                        <h1 class="font-bold text-sm m-2">smallSteps for New Investors</h1>
                        <p class="text-gray-600 text-sm m-2">smallSteps for New Investors</p>
                    </div>
                    <div class="p-1 pb-8 bg-gray-50 altBox_thiCard hidden">
                        <h1 class="font-bold text-exsm m-2 text-blue-600">smallSteps for New Investors</h1>
                        <hr class="bg-blue-600">
                        <p class="font-semibold text-exsm hover:text-blue-600 m-2">REIT- Re - Thinking Real Estate Investments</p>
                        <hr>
                        <p class="text-exsm font-semibold m-2 hover:text-blue-600">From Public To Private:Delisting 101</p>
                        <hr>
                        <p class="text-exsm font-semibold m-2 hover:text-blue-600">The Importance of Portfolio Diversification</p>
                    </div>
                </div>
                <div class="pb-8 border border-gray-300 rounded cursor-pointer
                fourCard_collection">
                    <div class="p-1 pb-8 fourCardDiv_collection">
                        <img class="w-2/6 rounded m-2" src="images/smallcaseRationales.png" alt="Unable To Load">
                        <h1 class="font-bold text-sm m-2">The smallcase Rationales</h1>
                        <p class="text-gray-600 text-sm m-2">Understand the anatomy of smallcase.</p>
                    </div>
                    <div class="p-1 pb-8 bg-gray-50 altBox_fourCard hidden">
                        <h1 class="font-bold text-exsm m-2 text-blue-600">The smallcase Rationales</h1>
                        <hr class="bg-blue-600">
                        <p class="font-semibold text-exsm hover:text-blue-600 m-2">India's IT sector: A deep dive</p>
                        <hr>
                        <p class="text-exsm font-semibold m-2 hover:text-blue-600">Add to cart: An investment Digital India</p>
                        <hr>
                        <p class="text-exsm font-semibold m-2 hover:text-blue-600">The shifty gears of Auto Stocks</p>
                    </div>
                </div>
            </div>
            <hr>
        </div>

        <!-- Collection box ends here -->

        <div class="my-10 grid-cols-3 grid justify-between gap-5">
            <div class="border-gray-200 rounded border">
                <div class="m-4 flex">
                    <img src="images/btnStar_af_collBox.png" class="w-14" alt="">
                    <div class="inline mx-2">
                        <h1 class="font-semibold text-sm">30 lakh+</h1>
                        <p class="text-gray-600 text-exsm">people use smallcase to take better decisions</p>
                    </div>
                </div>
            </div>
            <div class="border-gray-200 border rounded">
                <div class="m-4 flex">
                    <img src="images/btnUpDownArrow_af_collBox.png" class="w-14 h-14" alt="">
                    <div class="inline mx-2">
                        <h1 class="font-semibold text-sm">₹12,500+ crores</h1>
                        <p class="text-gray-600 text-exsm">amount transacted across all smallcases since our launch</p>
                    </div>
                </div>
            </div>
            <div class="border-gray-200 border rounded">
                <div class="m-4 flex">
                    <img src="images/partNBuss_collBox.png" class="w-14" alt="">
                    <div class="inline mx-2">
                        <h1 class="font-semibold text-sm">250</h1>
                        <p class="text-gray-600 text-exsm">partners and businesses supported</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="my-10 h-36 bg-gray-100 colGrayBlue rounded flex justify-center items-center">
            <div>
                <p class="text-blue-600 text-small text-center">postweek Reports</p>
                <h1 class="font-semibold text-xl">The Pre-(Dip)awali Markets</h1>
            </div>
        </div>

        <div class="bg-blue-600 bg-opacity-90 rounded partnersBox border">
            <div class="my-12 mx-36 text-center border border-none">
                <h1 class="text-white font-semibold text-2xl">We work with India's most</h1>
                <h1 class="text-white font-semibold text-2xl">trusted financial brands</h1>
                <p class="text-xs m-3 text-gray-200 text-left">When you invest in smallcase, stocks you buy are held in your existing demat account. Get started with your trading account</p>
                <div class="companies_ass mx-10 grid grid-cols-4 gap2 gap-3 border border-none">
                    <div class="bg-white h-14 rounded flex">
                        <img class="p-5" src="images/fivepaisa.png">
                    </div>
                    <div class="bg-white h-14 rounded flex">
                        <img class="p-5" src="images/aliceblue.png">
                    </div>
                    <div class="bg-white h-14 rounded flex">
                        <img class="p-5" src="images/angelbroking.png">
                    </div>
                    <div class="bg-white h-14 rounded flex">
                        <img class="p-5" src="images/axisDirect.png">
                    </div>
                    <div class="bg-white h-14 rounded flex">
                        <img class="p-5" src="images/edelweiss.png">
                    </div>
                    <div class="bg-white h-14 rounded flex">
                        <img class="p-5" src="images/HDFCSecurities.png">
                    </div>
                    <div class="bg-white h-14 rounded flex">
                        <img class="p-5" src="images/iifl.png">
                    </div>
                    <div class="bg-white h-14 rounded flex">
                        <img class="p-5" src="images/kotak.jpeg">
                    </div>
                    <div class="bg-white h-14 rounded flex">
                        <img class="p-5" src="images/mosl.png">
                    </div>
                    <div class="bg-white h-14 rounded flex">
                        <img class="p-5" src="images/trustline.png">
                    </div>
                    <div class="bg-white h-14 rounded flex">
                        <img class="p-5" src="images/upstox.png">
                    </div>
                    <div class="bg-white h-14 rounded flex">
                        <img class="p-5" src="images/kite.png">
                    </div>
                </div>
            </div>
        </div>

        <!-- Working Partners Box ended here -->
        <div class="w-5/5 my-10 h-10">
            <hr>
            <div class="w-5/5 h-full m-auto flex justify-between">
                <div class="w-20 flex">
                    <img src="images/logo.svg" class="m-1 hover" alt="Unable to load">
                </div>
                <div class="w-5/12 flex items-center px-3 flex justify-between">
                    <h3 class="text-gray-600 hover:text-black font-normal cursor-pointer text-xs headingInNav text-small">
                        smallcase - Invest / SIP in stock portfolios </h3>
                    <h3 class="text-gray-600 hover:text-black font-normal cursor-pointer text-xs headingInNav text-small">
                        About</h3>
                    <h3 class="text-gray-600 hover:text-black font-normal cursor-pointer text-xs headingInNav text-small pw_r_txtNav">
                        Disclaimer</h3>
                        <img class="w-5" src="https://img.icons8.com/color/50/000000/twitter--v2.png"/>
                    </div>
                    
                </div>
            </div>


    </div>
</body>
</html>
<script type="module" src="js/blog.js"></script>

